{% extends 'base.html' %}



{% block content %}

<div class="container" style="background-color:#FEF0F0;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-default panel">
                <div class="panel-heading" style="background-color:#FEF0F0;">
                    <div class="row mb_20">
                        <div class="col-xs-6">
                            <a class="active">Administrador</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="background-color:#FEF0F0;">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <a href="{% url 'inventario:categoria' %}" type="button" class="btn btn-primary btn-lg btn-block">Categoria</a>
                            <a href="{% url 'inventario:productos' %}" type="button" class="btn btn-primary btn-lg btn-block">Productos</a>
                            <a href="{% url 'ventas:descuentos' %}" type="button" class="btn btn-primary btn-lg btn-block">Descuentos</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}