{% load static %}

<link href="{% static 'css/navbar.css' %}"  rel="stylesheet">

<ul>
  <li>
    <a href="/usuarios/clienteinicio" style="padding: 1px; background-color: white;">
      <img style="padding: 7px; height:45px; width: 120px" src="{% static 'images/nova.jpg' %}"/>
    </a>
  </li>
  {% for categoria in categorias %}
      <li><a href="/usuarios/clienteinicio/{{categoria.nombreCategoria}}">{{categoria.nombreCategoria}}</a></li>
      {% empty %}
      <p>Vacio</p>
  {% endfor %}
  <li style="float:right"><a class="active" href="#LogOut">Cerrar Sesion</a></li>
</ul>
