{% extends 'base.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/modf_categoria.css' %}">

<!-- contact  -->
<div class="page-color">
  <div class="col-md-6 col-md-offset-3">
    <!-- class="col-md-6 col-md-offset-3" -->
    <div class="panel-login panel">
      <div class="panel-heading">
        <center>
          <h2> Modificar Categoría </h2>
        </center>
        <br>
        </br>
        <hr>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">

            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Categoría</option>
                  <option>Hombre</option>
                  <option>Mujer</option>
                  <option>Niños</option>
                </select>
              </div>
            </form>

            <form id="login-form" action="#" method="post">
              <div class="ps-product-action">
                <div class="ps-product__filter">
                  <select class="ps-select selectpicker">
                    <option value="1">Categoria</option>
                    <option value="2">Hombre</option>
                    <option value="3">Mujer</option>
                    <option value="3">Niños</option>
                  </select>
                </div>
                <div class="ps-product__filter">
                  <select class="ps-select selectpicker">
                    <option value="1">subCategoria</option>
                    <option value="2">Camisas</option>
                    <option value="3">Jeans</option>
                    <option value="3">Gorras</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                      class="form-control btn btn-login" value="Ingresar">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="ps-column"><a class="ps-offer">
          <!-- RESERVED SPACE FOR MODIFY CATEGORY  -->
      </div>
      <div class="ps-column">

      </div>
    </div>
    <br>
  </div>
</div>

{% endblock %}