{% extends 'base.html' %}


{% block head %}

{% load static %}

{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/modf_categoria.css' %}">
<link rel="stylesheet" href="{% static 'css/section.css' %}">

<!-- contact  -->
<div class="col-md-6 col-md-offset-3">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> Modificar Categoria </h1>
      </center>
    </div>
  </div>

  <div class="panel-body">    
    <div class="row">
      <form method='post' id='seleccionCategoria-form' name='seleccionar_categoria' class='login-form'>
        {% csrf_token %}
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select class="form-control" id="categoria" name="categoria" onChange="form.submit();">
            <option value="-1"  name='vacio'>Categoria</option>
            {% for categoria in categorias %}
              <option value={{categoria.pkCategoria}} name={{categoria.nombreCategoria}}>{{categoria.nombreCategoria}}</option>
              {% empty %}
              {% endfor %}
          </select>
        </div>
      </form>
    </div>
    <br>

    <div class="row">
      <form method='post' id='modificarCategoria-form' name='modificar_categoria' class='login-form'>
        {% csrf_token %}
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <input type="text" name="nombreCategoria" id="nombreCategoria" placeholder="Nombre" value="{{nombreCategoria}}"></input>
          
          <label for="idCategoria">Id Categoria</label>
          <input type="text" readonly placeholder="id" value="{{idCategoria}}"></input>          
        </div>

        <div class="form-group">
          <input type="submit" name="modfCat-submit" id="modfCat-submit" tabindex="4" class="form-control btn btn-register" value="Modificar"></input>
        </div>
      </form>
    </div>
    <br><br>
  </div>

  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> SubCategoria </h1>
      </center>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <form method='post' id='modificarCategoria-form' name='modificar_categoria' class='login-form'>
        {% csrf_token %}
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <input type="text" readonly value="{{nombreCategoria}}"></input>
        </div>

        <div class="form-group">
          <label for="subCategoria">SubCategoria</label>                 
          <select class="form-control" id="subCategoria" name="subCategoria">
            <option value="null">subCategoria</option>
            {% for subCategoria in subCategorias %}
              <option value={{subCategoria.pkSubCategoria}}>{{subCategoria.nombreSubCategoria}}</option>
              {% empty %}
              {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="subCategoria">Nombre</label>
          <input type="text" name="nombreSubCategoria" id="nombreSubCategoria" placeholder="Nombre"></input>

          <label for="idSubCategoria">Id SubCategoria</label>
          <input type="text" readonly placeholder="id">{{idSubCategoria}}</input>
        </div>

        <div class="form-row">
          <div>
            <input type="submit" name="agregarSubCat-submit" id="agregarSubCat-submit" tabindex="4" class="form-control btn btn-register" value="Agregar"></input>
          </div>
          <br>
          <div>
            <input type="submit" name="modfSubCat-submit" id="modfSubCat-submit" tabindex="4" class="form-control btn btn-register" value="Modificar"></input>
          </div>
          <br>
          <div>
            <input type="submit" name="eliminarSubCat-submit" id="eliminarSubCat-submit" tabindex="4" class="form-control btn btn-register" value="Eliminar"></input>
          </div>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>

{% endblock %}