{% extends 'base.html' %}



{% block content %}

<div class="container" style="background-color:#FEF0F0;">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> Crear Referencias </h1>
      </center>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">                            
        <a href="{% url 'inventario:aniadirReferencias' %}" type="button" class="btn btn-primary btn-lg btn-block">Añadir Referencias</a>
        <a href="{% url 'inventario:aniadirProductos' %}" type="button" class="btn btn-primary btn-lg btn-block">Añadir Productos</a>
        <a  type="button" class="btn btn-primary btn-lg btn-block">Modificar Producto</a>
        <a  type="button" class="btn btn-primary btn-lg btn-block">Buscar producto</a>
        <a  type="button" class="btn btn-primary btn-lg btn-block">Eliminar producto</a>              
      </div>
    </div>
  </div>
</div>

{% endblock %}