{% extends 'baseAdmin.html' %}



{% block content %}

<div class="col-md-6 col-md-offset-3">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> Modificar Productos </h1>
      </center>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <form id="formulario-producto" action="#" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="producto">Referencia</label>
            <select class="form-control" id="producto" name="producto" onChange="form.submit();">
              <option value="-1"  name='vacio'>Referencia</option>
              {% for producto in productos %}
                {% if idCategoria == categoria.pkCategoria   %}
                <option selected value={{producto.pkProducto}} name={{producto.pkProducto}}>{{producto.pkProducto}} - {{producto.nombre}}</option>
                {% else %}
                <option value={{producto.pkProducto}} name={{producto.pkProducto}}>{{producto.pkProducto}} - {{producto.nombre}}</option>
                {% endif %} 
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="producto">Producto</label>
            <select class="form-control" id="detalle" name="detalle">
              <option value="-1"  name='vacio'>Producto</option>
              {% for detalle in detalles %}
                {% if idCategoria == categoria.pkCategoria   %}
                  <option selected value={{detalle.fkProducto}} name={{detalle.pkProducto}}>{{detalle.talla}} - {{detalle.color}}</option>
                {% else %}
                  <option value={{detalle.fkProducto}} name={{detalle.pkProducto}}>{{detalle.talla}} - {{detalle.color}}</option>
                {% endif %}  
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <input readonly placeholder="Proveedor" id="proveedor" name="proveedor" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="bodega">Bodega</label>
            <input readonly placeholder="Bodega" id="bodega" name="bodega" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="talla">Talla</label>
            <input readonly placeholder="Talla" id="talla" name="talla" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="color">Color</label>
            <input readonly placeholder="Color" id="inputColor" name="inputColor" type="text" class="form-control">
          </div>          

          <div class="form-group">
            <label for="inputCant">Cantidad</label>
            <input required placeholder="Cantidad" id="inputCant" name="inputCant" type="number" class="form-control">
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="productos-submit" id="productos-submit" tabindex="4" class="form-control btn" value="Agregar Productos">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}